# Cache, temp and personal files

psdata/.htaccess
psdata/*.log
psdata/npm-debug.log.*
psdata/.sass-cache/
psdata/cache/*
psdata/var/cache/*
psdata/download/*
psdata/img/*
psdata/log/*
psdata/upload/*
psdata/vendor/*
psdata/docs/phpdoc-sf/
psdata/composer.lock

psdata/adminpanel/autoupgrade/*
psdata/adminpanel/backups/*
psdata/adminpanel/import/*

psdata/adminpanel/import/*
!psdata/adminpanel/import/.htaccess
!psdata/adminpanel/import/index.php

psdata/themes/*/cache/*

# Config

psdata/config/settings.inc.php
psdata/config/settings.old.php
psdata/config/xml/*
psdata/config/themes/*
!psdata/config/xml/themes/default.xml
psdata/themes/*/config/settings_*.json
psdata/app/config/parameters.old.yml
psdata/app/config/config.php

# Themes, modules and overrides

!psdata/modules/*
psdata/modules/config_*.xml
psdata/modules/ps_imageslider/images/*
!psdata/modules/ps_imageslider/images/index.php
psdata/modules/ps_banner/img/*
!psdata/modules/ps_banner/img/index.php

!override/*
psdata//themes/StarterTheme

# Vendors and dependencies

psdata/bower_components/
psdata/node_modules/
psdata/composer.phar
psdata/php-cs-fixer

# Translations and emails templates

psdata/translations/*
psdata/mails/*
!psdata/mails/fr/
psdata/themes/default-bootstrap/lang/*
psdata/themes/default-bootstrap/modules/*/translations/*.php
psdata/themes/default-bootstrap/mails/*
!psdata/themes/default-bootstrap/mails/fr/
psdata/themes/default-bootstrap/modules/*/mails/*
!psdata/themes/default-bootstrap/modules/*/mails/fr

# Symfony

psdata/app/bootstrap.php.cache
psdata/app/cache/*
!psdata/app/cache/.gitkeep
psdata/app/Resources/translations/*
!psdata/app/Resources/translations/default
psdata/app/test/cache/*
!psdata/app/test/cache/.gitkeep
psdata/app/config/parameters.yml
psdata/app/config/parameters.php
psdata/app/logs/*
!psdata/app/logs/.gitkeep
psdata/app/phpunit.xml
psdata/bin/
psdata/web/bundles/
psdata/web/css/
psdata/web/js/